@font-face {
    font-family: "number";
    src: url("number-font.ttf");
}

body {
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}
* {
    margin: 0px 0px;
    font-weight: 200;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

button {
    background: rgb(238, 238, 238);
    border: 1px black solid;
    border-radius: 5px;
    outline: none;
    padding: 5px 5px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
    font-size: 65px;
    width: 75px;
    height: 87px;
    cursor: pointer;
}

button[disabled] {
    cursor: no-drop;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.calc_container {
    width: 400px;
    height: 500px;
    border: 3px black solid;
    border-radius: 10px;
}

.calc_display {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 335px;
    height: 50px;
    font-size: 25px;
    text-align: right;
    border: 3px black solid;
    border-radius: 10px;
    background: rgb(125, 125, 217);
    outline: none;
    color: black;
    padding-right: 15px;
    font-family: "number";
    font-weight: 600;
}

.keypad {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 400px;
    height: 400px;
}

.column {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 400px;
    text-align: center;
}

.c1 {
    left: 0px;
}
.c2 {
    left: 100px;
}
.c3 {
    left: 200px;
}
.c4 {
    left: 300px;
}
.c4 button {
    font-family: "number";
    font-weight: 600;
}

.hangman {
    text-align: center;
}

.hangman h2 {
    margin-top: 30px;
}

.h_keypad button {
    font-size: 14px;
    width: 30px;
    height: 30px;
    font-family: "number";
    margin-left: 5px;
    font-weight: 600;
}

.fill {
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 10px;
}