body {
    background: black;
    color: white;
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}
* {
    margin: 0px 0px;
    font-weight: 200;
}

.keyboard {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border: 1px #cbcbcb solid;
    padding: 5px 5px;
    text-align: center;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clickable {
    width: 300px;
    height: 300px;
    border: 1px #cbcbcb solid;
    padding-top: 5px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translatex(-50%);
    flex-wrap: wrap;
}
input {
    background: black;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px #cbcbcb solid;
    margin-top: 5px;
}
.keyboard-preview-text {
    position: relative;
    top: 15px;
}
.click {
    width: 50px;
    height: 50px;
    background: #cbcbcb;
    outline: 1px black solid;
}
button {
    background: black;
    border: 1px #cbcbcb solid;
    border-radius: 5px;
    margin-top: 15px;
    outline: none;
    padding: 5px 5px;
    color: white;
}